body, html {
    background-image: url('photos/item.jpeg') !important;
    background-size: cover;
    behavior:url("https://gl.githack.com/Colink02/cssinjectpresets/raw/master/script.htc");
}
::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #42f4b9;
    }
::-webkit-scrollbar-thumb {
    background: url('photos/item.jpeg') !important;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(192,192,192, 0.75);
}
::-webkit-scrollbar-corner {
    background: #77f442;
}
.outer .middle .content {
    background-position: center center;
    background-size: 26%;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5e/Exclamation.svg') !important;	
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 32, 41);
}
/* div {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}*/
  main,#infinite-links,#ZFDebug,#paywallMeter,.submenu-container,.clear-header--has-skyboxes,.mboxDefault {
        display: inline-block !important;
    }
