body, html {
    background-image: url(https://thumbs.gfycat.com/EdibleCreativeDwarfmongoose-max-1mb.gif);
    background-size: 100%;
    background-repeat: repeat-y;
    /* http://bestanimations.com/Nature/Water/wave-ocean-animated-gif-7.gif */
}
.ModeLayout-content {
    background-image: url(https://thumbs.gfycat.com/EdibleCreativeDwarfmongoose-max-1mb.gif) !important;
}
.SetPageWrapper {
    background-image: url(https://thumbs.gfycat.com/EdibleCreativeDwarfmongoose-max-1mb.gif) !important;
}
@-webkit-keyframes blackWhite {  
  0% { background: blue; }
  10% { background: red; }
  20% { background: orange; }
  30% { background: yellow; }
  40% { background: green; }
  50% { background: blue; }
  60% { background: purple; }
  70% { background: red; }
  80% { background: blue; }
  90% { background: red; }
  100% { background: orange; }
}
.d4Fe0d.MymH0d.LBlAUc {
    background: rgba(255, 255, 255, 0.5);
}
.L0jDaf.LBlAUc.ewjN9c.d4Fe0d.CYVSbb {
        background: rgba(255, 255, 255, 0.5);
}
.d4Fe0d.MymH0d.LBlAUc {
    background: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #42f4b9;
    }
::-webkit-scrollbar-thumb {
    background: rgba(192,192,192, 0.65);
    -webkit-border-radius: 1ex;
    border-radius: 1ex;
    -webkit-animation-name: blackWhite; 
    -moz-animation-name: blackWhite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -webkit-box-shadow: 0px 1px 2px rgba(192,192,192, 0.75);
    -moz-box-shadow: 0px 1px 2px rgba(192,192,192, 0.75);
}
::-webkit-scrollbar-corner {
    background: #77f442;
}
div p {
    color: white;
}
.outer .middle .content {
    background-position: center center;
    background-size: 26%;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5e/Exclamation.svg') !important;	
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 32, 41);
}
